#if 0
Copyright (c) 1999-2000 Microsoft Corporation.  All rights reserved.
#endif

//----------------------------------------------------------------------------
//
// This RC file MUST contain ONLY non-localizable resources (icons & bitmaps)
// Any other resources placed here will *not* get localized
//
//----------------------------------------------------------------------------
#include "resource.h"
#include "windows.h"
#include "commctrl.h"

LINE_ICON ICON DISCARDABLE "LINE.ICO"



