//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this source code is subject to the terms of the Microsoft shared
// source or premium shared source license agreement under which you licensed
// this source code. If you did not accept the terms of the license agreement,
// you are not authorized to use this source code. For the terms of the license,
// please see the license agreement between you and Microsoft or, if applicable,
// see the SOURCE.RTF on your install media or the root of your tools installation.
// THE SOURCE CODE IS PROVIDED "AS IS", WITH NO WARRANTIES OR INDEMNITIES.
//
//
//
// Use of this sample source code is subject to the terms of the Microsoft
// license agreement under which you licensed this sample source code. If
// you did not accept the terms of the license agreement, you are not
// authorized to use this sample source code. For the terms of the license,
// please see the license agreement between you and Microsoft or, if applicable,
// see the LICENSE.RTF on your install media or the root of your tools installation.
// THE SAMPLE SOURCE CODE IS PROVIDED "AS IS", WITH NO WARRANTIES OR INDEMNITIES.
//
#include "ImagePerfResourceIDs.h"

// pictures
//
ID_GRAPH_LARGE_PNG                  PNG              DISCARDABLE  "..\\..\\..\\data\\images\\ImageManipulation\\LargeGraphic.png"

//xamls
//
IDX_LARGE_GRAPH                     SLWE_XAML        DISCARDABLE  "..\\..\\..\\data\\xaml\\ImageManipulation\\LargeGraphic_png.xaml"
IDX_LARGE_GRAPH_JPG                 SLWE_XAML        DISCARDABLE  "..\\..\\..\\data\\xaml\\ImageManipulation\\LargeGraphic_jpg.xaml"
IDX_PINCH_STRETCH_UC_GRAPH          SLWE_XAML        DISCARDABLE  "..\\..\\..\\data\\xaml\\ImageManipulation\\ZoomUC_Graph.xaml"
IDX_PINCH_STRETCH                   SLWE_XAML        DISCARDABLE  "..\\..\\..\\data\\xaml\\ImageManipulation\\Zoom.xaml"
