#include <windows.h>
#include <CommCtrl.h>
#include <aygshell.h>
#include "resource.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_START      "Start"
    IDS_APP_STOP       "Stop"
    IDS_APP_EXIT	   "Exit"
END

IDR_MAIN_CMDBAR RCDATA
BEGIN
    IDM_MAIN_MENU,
    2,     // # of elements in one layout 
    I_IMAGENONE, IDM_APP_START_STOP, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE, IDS_APP_START, 0, NOMENU,
    I_IMAGENONE, IDM_APP_EXIT, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE, IDS_APP_EXIT, 0, NOMENU,

END

IDR_WIFIROAM_ACCEL ACCELERATORS DISCARDABLE
BEGIN
    "^q",          IDM_APP_EXIT,    ASCII,  NOINVERT
END
