//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this source code is subject to the terms of the Microsoft shared
// source or premium shared source license agreement under which you licensed
// this source code. If you did not accept the terms of the license agreement,
// you are not authorized to use this source code. For the terms of the license,
// please see the license agreement between you and Microsoft or, if applicable,
// see the SOURCE.RTF on your install media or the root of your tools installation.
// THE SOURCE CODE IS PROVIDED "AS IS", WITH NO WARRANTIES.
//
//
// Main resources, from VC++
//
#include "res.rc"


//
// Version resources
//
#ifndef UNDER_CE
#include <ntverp.h>
#endif
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Bluetooth COM API"
#define VER_INTERNALNAME_STR        "bthapi.DLL"
#define VER_ORIGINALFILENAME_STR    "bthapi.DLL"

#ifndef UNDER_CE
#include <common.ver>
#endif
